<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

##My Jupyter Notebook on IBM Watson Studio

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<b>Fernando Tatsuo Samesima</b>
<br>Data Scientist

<i>I'm interested in data science because I love to find patterns.</i>
<br>
<i>And I love programming.</i>

<h3>in the cell bellow, a simple multiplication</h3>

In [1]:
5*5

25

**horizontal rule**<br>
<hr>

**bullet list**<br>
<ul>
  <li>one</li>
  <li>two</li>
</ul>

**numbered list**<br>
<ol>
  <li>Coffee</li>
  <li>Tea</li>
</ol>

**table**<br>
<table>
  <tr>
    <th>name</th>
    <th>country</th>
  </tr>
  <tr>
    <td>fernando</td>
    <td>brazil</td>
  </tr>
</table>

**hyperlink**<br>
<a href='https://www.google.com'>link</a>

**image**<br>
<img src='https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F1da529af-eea0-42ac-a1fc-e23b0877249a_925x550.jpeg' />

**code**<br>
<code>print("hello data scientists")</code>

**blocked quote**<br>
<blockquote>blocked quote</blockquote>

**strike through**<br>
<del>strike through</del>